<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<script src="js/clock.js"></script>
	<style type="text/css">
		body{
			background-image: url("/images/Backgrounds/1.jpg");
			color: white;
			font-family: 'Roboto', sans-serif;
			overflow: hidden;
		}
		.time{
			font-size: 200px;
			font-weight: 700;
			color: rgba(255,255,255,.85);
		}
		.time-wrapper{
			width:100%;
			position: absolute;
			top: 220px;
			text-align: center;
		}
		.greeting{
			margin-top:-15px;
			font-size: 45px;
		}
		.checklist-wrapper{
			width: 100%;
			position: absolute;
			bottom: 100px;
			color: rgba(255,255,255);
			font-size: 36px;
			text-align: center;
		}
		.checklist-message{
			width: 400px;
			padding:20px;
			border: solid white;
			cursor: pointer;
		}
		.first-name{
			display: none;
		}
		a {
		    text-decoration: none !important;
		    color:white;
		}
	</style>
</head>
<body>
	<div class="time-wrapper">
		<div class="time"></div>
		<div class="greeting"></div>
	</div>
	<div class="checklist-wrapper">
		<a href="/auth/google"><span class="checklist-message">Sign In!</span></a>
	</div>
	<div class="first-name"></div>

	<script>
		getGreeting();
		getCurrentTime();
		setInterval(getCurrentTime,5000);
	</script>
</body>
</html>