<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<script src="js/clock.js"></script>
	<link rel="stylesheet" type="text/css" href="css/arrow.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style type="text/css">
		html{
			width: 100%;
			height: 100%;
			margin: 0;
		}
		body{
			width: 100%;
			height: 100%;
			margin: 0;
			background-image: url("images/B1.jpg");
			color: white;
			font-family: 'Roboto', sans-serif;
			overflow: hidden;
		}
		.time{
			font-size: 200px;
			font-weight: 700;
			color: rgba(255,255,255,.85);
		}
		.time-wrapper{
			width:100%;
			position: absolute;
			top: 220px;
			text-align: center;
		}
		.greeting{
			margin-top:-15px;
			font-size: 45px;
		}
		#to-checklist{
			width: 100%;
			height: 150px;
			margin:75px 0px 25px 0px;
			position: absolute;
			bottom: 0px;
			text-align: center;
		}
		#to-main{
			width: 100%;
			height: 150px;
			margin:25px 0px 75px 0px;
			position: absolute;
			top: 0px;
			text-align: center;
		}
		.first-name{
			display: none;
		}
		.slider{
			width: 100%;
			height: 200%;
			transition: 1s ease-in-out;
			position: relative;
			-ms-transform: translate(0px, 0%); /* IE 9 */
			-webkit-transform: translate(0px, 0%); /* Safari */
			transform: translate(0px, 0%);
		}
		.top-slide{
			width: 100%;
			height: 50%;
			position: relative;
		}
		.bottom-slide{
			width: 100%;
			height: 50%;
			background-color: rgba(0,0,0,0.5);
			position: relative;
			padding: 25px 0px 0px 0px;
		}
	</style>
</head>
<body>
	<div class="slider">
		<div class="top-slide">
			<div class="first-name"><%=User.firstName%></div>
			<div class="time-wrapper">
				<div class="time"></div>
				<div class="greeting"></div>
			</div>
			<div id="to-checklist">
				<p id="scroll-down-main" class="down-default"><a onclick="showChecklist()" class="animate"></a></p>
			</div>
		</div>
		<div class="bottom-slide">
			<div id="to-main">
				<p id="scroll-up-main" class="up-default"><a onclick="hideChecklist()" class="animate"></a></p>
			</div>
			<h1>This is a Test. Slide #2</h1>
		</div>


	</div>


	<script>
		getGreeting();
		getCurrentTime();
		var d = new Date();
		var seconds = d.getSeconds();
		console.log(seconds);
		setTimeout(startInterval, (60-seconds)*1000);

		function startInterval(){
			getCurrentTime();
			setInterval(getCurrentTime,60000);
		}
		
	</script>
	<script type="text/javascript">
		$('#to-checklist').hover(
			function(){ $('#scroll-down-main').addClass('scroll-down').removeClass('down-default')},
			function(){ $('#scroll-down-main').removeClass('scroll-down').addClass('down-default')}
		);
		$('#to-main').hover(
			function(){ $('#scroll-up-main').addClass('scroll-down').removeClass('up-default')},
			function(){ $('#scroll-up-main').removeClass('scroll-down').addClass('up-default')}
		);
	</script>
	<script type="text/javascript">
		function showChecklist(){
			document.getElementsByClassName('slider')[0].classList.add("slide-up");
		}
		function hideChecklist(){
			console.log('removeClass')
			document.getElementsByClassName('slider')[0].classList.remove("slide-up");
		}
	</script>
</body>
</html>