<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<script src="js/clock.js"></script>
	<link rel="stylesheet" type="text/css" href="css/arrow.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style type="text/css">
		body{
			background-image: url("images/B1.jpg");
			color: white;
			font-family: 'Roboto', sans-serif;
			overflow: hidden;
		}
		.time{
			font-size: 200px;
			font-weight: 700;
			color: rgba(255,255,255,.85);
		}
		.time-wrapper{
			width:100%;
			position: absolute;
			top: 220px;
			text-align: center;
		}
		.greeting{
			margin-top:-15px;
			font-size: 45px;
		}
		#to-checklist{
			width: 100%;
			height: 150px;
			margin:75px 0px 25px 0px;
			position: absolute;
			bottom: 0px;
			text-align: center;
		}
		.first-name{
			display: none;
		}
	</style>
</head>
<body>
	<div class="first-name"><%=User.firstName%></div>
	<div class="time-wrapper">
		<div class="time"></div>
		<div class="greeting"></div>
	</div>
	<div id="to-checklist">
		  <p id="scroll" class="down-default"><a onclick="showChecklist()" class="animate"></a></p>
	</div>

	<script>
		getGreeting();
		getCurrentTime();
		setInterval(getCurrentTime,5000);
	</script>
	<script type="text/javascript">
		$('#to-checklist').hover(
			function(){ $('#scroll').addClass('scroll-down').removeClass('down-default')},
			function(){ $('#scroll').removeClass('scroll-down').addClass('down-default')}
		)
	</script>
	<script type="text/javascript">
		function showChecklist(){
			console.log('The Checklist:')
		}
	</script>
</body>
</html>