<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/clock.js"></script>
	<script src="js/background-image.js"></script>
	<link rel="stylesheet" type="text/css" href="css/welcome.css">
	<link rel="stylesheet" type="text/css" href="css/arrow.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="background"></div>
	<div class="slider">
		<div class="top-slide">
			<div class="first-name"><%=User.firstName%></div>
			<div class="time-wrapper">
				<div class="time"></div>
				<div class="greeting"></div>
			</div>
			<div id="to-checklist">
				<p id="scroll-down-main" class="down-default"><a onclick="showChecklist()" class="animate"></a></p>
			</div>
		</div>
		<div class="bottom-slide">
			<div id="to-main">
				<p id="scroll-up-main" class="up-default"><a onclick="hideChecklist()" class="animate"></a></p>
			</div>
			<div class="checklist-wrapper">
				<div class="checklist-title">Tasks</div>
				<div class="tool-panel">
					<div class="close" onclick="closePropertyPanel()"></div>
					<i class="material-icons edit-task" style="font-size:36px">mode_edit</i>
					<i class="material-icons edit-task" onclick="deleteTask()" style="font-size:36px">delete</i>
				</div>
				<div class="task-area clearfix">
					<ul class="task-list">
						<% for(var i = 0; i<User.tasks.length; i++){%>
							<li class="task" id="<%= i %>"><%= User.tasks[i].title %></li>
						<% } %>
					</ul>
					<div class="task-properties">
						<div class="add-task" onclick="newTask()">New Task</div>
						<form class="new-form" id="form-new">
							<p class="form-title">Title</p>
							<input type="text" name="taskTitle" class="input-title">
							<br>
							<p class="form-detail">Detail</p>
							<textarea rows="4" class="detail-elm" name = "taskDetail"></textarea>
							<div class="form-actions">
								<p class="submit-task st-save" onclick="formSave()">Save</p>
								<p class="submit-task" onclick="formReset()">Cancel</p>
							</div>
						</form>
						<div class="task-info">
							<p class="task-info-title"></p>
							<p class="task-info-details"></p>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

	<script>
		//Start the Clock so that the time on the webpage updates correctly.
		getGreeting();
		getCurrentTime();
		var d = new Date();
		var seconds = d.getSeconds();
		console.log(seconds);
		setTimeout(startInterval, (60-seconds)*1000);

		function startInterval(){
			getCurrentTime();
			setInterval(getCurrentTime,60000);
		}
	</script>

</body>
</html>