<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/clock.js"></script>
	<script src="js/background-image.js"></script>
	<link rel="stylesheet" type="text/css" href="css/welcome.css">
	<link rel="stylesheet" type="text/css" href="css/arrow.css">
</head>
<body>
	<div class="background"></div>
	<div class="slider">
		<div class="top-slide">
			<div class="first-name"><%=User.firstName%></div>
			<div class="time-wrapper">
				<div class="time"></div>
				<div class="greeting"></div>
			</div>
			<div id="to-checklist">
				<p id="scroll-down-main" class="down-default"><a onclick="showChecklist()" class="animate"></a></p>
			</div>
		</div>
		<div class="bottom-slide">
			<div id="to-main">
				<p id="scroll-up-main" class="up-default"><a onclick="hideChecklist()" class="animate"></a></p>
			</div>
			<div class="checklist-wrapper">
				<div class="checklist-title">Tasks</div>
				<div class="task-area clearfix">
					<ul class="task-list">
						<li class="task">HUSH HW</li>
						<li class="task">Explore Task</li>
					</ul>
					<div class="task-properties">
						<div class="add-task">New Task</div>
					</div>
				</div>
			</div>
		</div>


	</div>


	<script>
		getGreeting();
		getCurrentTime();
		var d = new Date();
		var seconds = d.getSeconds();
		console.log(seconds);
		setTimeout(startInterval, (60-seconds)*1000);

		function startInterval(){
			getCurrentTime();
			setInterval(getCurrentTime,60000);
		}
		
	</script>
	<script type="text/javascript">
		$('#to-checklist').hover(
			function(){ $('#scroll-down-main').addClass('scroll-down').removeClass('down-default')},
			function(){ $('#scroll-down-main').removeClass('scroll-down').addClass('down-default')}
		);
		$('#to-main').hover(
			function(){ $('#scroll-up-main').addClass('scroll-down').removeClass('up-default')},
			function(){ $('#scroll-up-main').removeClass('scroll-down').addClass('up-default')}
		);
	</script>
	<script type="text/javascript">
		function showChecklist(){
			document.getElementsByClassName('slider')[0].classList.add("slide-up");
		}
		function hideChecklist(){
			console.log('removeClass')
			document.getElementsByClassName('slider')[0].classList.remove("slide-up");
		}
	</script>
	<script type="text/javascript">
		$('body').on('click', '.task', function () {
			$(".task").removeClass("active-task");
			$(this).addClass('active-task')
	   });
	</script>
</body>
</html>